body,
html {
  width: 100%;
  height: 100vh;
  background-image: url("img/signup.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.clock {
  height: 180px;
  font-size: 180px;
  font-weight: bold;
  color: white;
}

.greet {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

#quote {
  position: fixed;
  bottom: 30px;
  color: white;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}
